/* container */
div.twitter-trackbacks{ }
/* ul list */
ul.ttw-inner{
	padding:0;
	margin:0;
	height:174px; 
	/* fixed height so surrounding content will not flicker with transitions */
	/* height shoud be: 3 * ( li.height + li.margin (Top&Bottom) + li.padding (Top&Bottom) + li.border (Top&Bottom) )*/
}
ul.ttw-inner li{
	border:silver 1px solid;
	float:left;
	margin:1px 0 1px 0;
	padding:2px 2px 2px 2px;
	list-style-type:none;
	position:relative;
	height:50px;
	overflow:hidden;
	width:100%;
}
/* author img */
ul.ttw-inner span.ttw-author-img{
	display:block;
	width:48px;
	height:48px;
	margin:0 5px 0 2px;
	overflow:hidden;
	left:0;
	position:absolute;
}
/* author name */
ul.ttw-inner strong a{
	margin-right:5px;
}
/* tweet body */
ul.ttw-inner span.ttw-body {
	display:block;
	margin-left:55px;
}
/* tweet content */
ul.ttw-inner span.ttw-content{}
 
/* tweet meta : date, reply, retweet line */
ul.ttw-inner span.ttw-meta {
	color:#999999;
	display:block;
	font-size:0.764em;
	margin:3px 0 0;
}
ul.ttw-inner span.ttw-meta a{
	color:#999999;
	text-decoration:none;
}
ul.ttw-inner span.ttw-meta a:hover{
	text-decoration:underline;
}
/* customize reply link */
ul.ttw-inner a.ttw-reply { }
/* customize retweet link */
ul.ttw-inner a.ttw-retweet { }
/* customize links */
ul.ttw-inner a.ttw-link { }
/* customize @user links */
ul.ttw-inner a.ttw-at { }
/* customize #hashtags links */
ul.ttw-inner a.ttw-hashtag { }
 
/* li's will have class that reflects users influence levels from 0 to 10 */
/* Customize tweets of users with influence levels from 0 to 10 */
li.ttw-inf-0{}
/* ...... */
li.ttw-inf-10{}
 
/* Customize users image with influence levels from 0 to 10 */
li.ttw-inf-0 img{}
/* ...... */
li.ttw-inf-10 img{}
 
/* Customize users name with influence levels from 0 to 10 */
li.ttw-inf-0 strong{}
/* ...... */
li.ttw-inf-10 strong{}